body {
    font-family: Arial, sans-serif;
    background-color: #885215;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 100px;
    margin: 0;
}

p {
    font-size: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: s#4e1919;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #3d2c2c;
}